
/* à completer pour avoir l'affichage **/

body{
	
	background-color: silver ;
	
}

img{
	border: double;
	
}

h1{
	text-align:center;
	font-family:fantasy ;
	border: double;
	color:green;
	
	
}


 h3{
	 text-align:center;
	 color:red;
	 font-family:fantasy ;
	 
 }
 
strong{
	 color:navy;
	
} 